body {
	margin:0 auto;
	background:#999;
}

#gameTitle {
	margin:0 auto;
	margin-top:20px;
	width:800px;
	height:50px;
	font-size:28px;
	font-family:'Verdana';
	text-align:center;
}

#gameWindow {
	margin:0 auto;
	width:854px;
	height:480px;
	background:#fff;
}

#gameCanvas {
	width:854px;
	height:480px;
	background:#000;
}
